header {
    width: 100%;
}

.top-line {
    display: flex;
    flex-flow: row nowrap;
    height: 78px;
}

.logo {
    flex-basis: 170px;
    background-color: #ff5656;
    color: white;
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
    padding-top: 20px;
}

.social {
    background-color: #333131;
    width: 100%;
}

.social__icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    text-align: center;
    padding-top: 18px;
    padding-right: 50px;
}
.social__facebook {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.social__google {
    width: 40px;
    height: 40px;;
}

.tagline {
    height: 100px;
    padding-top: 35px;
    font-size: 24px;
    border-bottom: 2px solid #dbdbdb;
    background-color: white;
    padding-left: 23px;
}

.menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    height: 63px;
    text-align: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 2px -2px #dbdbdb;
}

.home {
    margin-right: 41px;
}

.menu__item ul {
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.menu__item a {
    color: black;
    text-decoration: none;
    background-color: white;
}

.menu__item li {
    display: block;
    margin-right: 41px;
}