<header>
    <div class="top-line">
        <div class="logo" (click)="goHome()">
            Удача!
        </div>
        <div class="social">
            <div class="social__icons">
                <!-- <a href="#">
                    <img class="social__facebook" src="/assets/img/if_facebook_circle_294710.svg" alt="Icons">
                </a>
                <a href="#">
                    <img class="social__google" src="/assets/img/if_google_circle_294707.svg" alt="Icons">
                </a> -->
            </div>
        </div>
    </div>
    <div class="tagline">
        <div class="tagline__text">
            И пусть <b>удача</b> всегда будет с вами!
        </div>
    </div>
    <div class="menu">
        <div class="home" (click)="goHome()">
            <img src="/assets/img/home.png" alt="Home">
        </div>
        <div class="menu__item">
            <nav>
                <ul>
                    <li>
                        <a href="/aboutme">Обо мне</a>
                    </li>
                    <li>
                        <a href="/main">Портфолио</a>
                    </li>
                    <li>
                        <a href="#">Блог</a>
                    </li>
                    <li>
                        <a href="#">Особенности</a>
                    </li>
                    <li>
                        <a href="/admin">Администрирование</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
